.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #000000 !important;
  font-weight: 600;
  font-size: 12px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root:hover {
  background-color: #d3d3d3;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  max-width: 400px;
  min-width: 15.9% !important;
  position: relative;
  min-height: 48px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 12px 16px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
}
.css-13xfq8m-MuiTabPanel-root {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-top: 17px !important;
  padding-bottom: 0px !important;
}

.css-19kzrtu {
  padding: 0px !important;
  padding-top: 18px !important;

}
@media only screen and (max-width: 768px) {
  .css-k008qs {
    display: flex;
    justify-content: space-between !important;
  }
}

@media only screen and (max-width: 500px) {
  .css-w8dmq8 {
    width: 100%;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-top: 50px !important;
  }
}